<!DOCTYPE html>
<!-- Data Representation Project, GMIT 2020 -->
<!-- Author: Andrzej Kocielski, G00376291@gmit.ie -->
<!-- GitHub: https://github.com/andkoc001/Data_Rep_Project -->
<!-- Lecturer: Dr. Andrew Beatty -->


<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Data Rep Project - Autonomous Maintenance</title>
    <meta charset="UTF-8">
    <meta name="description" content="Data Representation Project, GMIT 2020">
    <meta name="author" content="Andrzej Kocielski, G00376291@gmit.ie">

    <!-- Bootstrap style file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Reference to external style file (overrides the bootstrap style, because it is placed below in this file -->
    <link rel="stylesheet" href="../static/style_login.css" type="text/css" />
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <!-- AJAX reference -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.js"></script>
    <!-- prevent favicon 404 error -->
    <!-- <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo="> -->
</head>

<body>
    <header>
        <!-- this is a semantic tag - more in start.html file -->
        <h1 class="logo_title"> Welcome to my </br>Data Rep Project </h1>
    </header>

    <main class="mainsection">
        <section>
            <!-- Login box, adopted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal-->
            <div id="login_pop" class="modal">

                <form class="modal-content animate" method="POST" action="/login">

                    <div id="loginbox">
                        <label for="username"><b>Username</b><span style="color: #f80; font-size: 11px;">
                                (required)</span></label>
                        <input name="username" type="text" placeholder="Enter Username" value="gmit" required>

                        <!-- <label for="password"><b>Password</b> <span style="font-size: 11px;"> (disabled for
                                testing)</span></label> -->
                        <!-- <input name="password" type="password" placeholder="Disabled while testing" value="gmit"
                            required disabled> -->

                        <input type="reset" class="reset" value="Reset" style="width: 100%;" />
                        <input type="submit" class="submit" value="Login" style="width: 100%;" />
                    </div>

                    <div class="hint">
                        For testing purposes, the Username is '<b>gmit</b>'. </br>
                        Password is already provided for testing only.
                    </div>

                </form>
                <div class="core" style="width: 400px;">
                    <p style="margin: 20px 0px;">Skip the authentication over and go directly to <a
                            href="../templates/equipment.html" style="color: #9df; text-decoration: none;">Equipment
                            Autonomus
                            Maintenance</a></p>
                </div>
            </div>
        </section>
    </main>

    <button onclick="topFunction()" id="toTop" title="Go to top">Top</button>

</body>

</html>