<html>

<head>
    <title>Data Rep</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>Welcome to my Data Representation Project</h1>
    </br>

    <h2>Local data server</h2>
    <ul>
        <li>test <a href="http://127.0.0.1:5000/server/simple_server.html">simple_server</a></li>
    </ul>
    </br>

    <h2>External data server</h2>
    <ul>
        <li><a href="http://127.0.0.1:5000/server/get_books.html">Books</a></li>
    </ul>
    </br>

    <h2>Bitcoin</h2>
    <ul>
        <li>Check the current value of a bitcoin <a href="http://127.0.0.1:5000/server/bitcoin.html">here</a></li>
    </ul>

    <h2>Testing POST method </h2>
    <ul>
        <li><a href="http://127.0.0.1:5000/server/post_test.html">POST test</a></li>
    </ul>

    <h2>Machines Maintenance</h2>
    <ul>
        <li><a href="http://127.0.0.1:5000/server/equipment.html">here</a></li>
    </ul>

</body>

</html>